# ignore file with name env_variables
/env_variables.py 

# ignore working files, files that start with a ~
*~

# ignore all json files
*.json

# ignore all csv files 
*.csv

# ignore all text files 
*.txt 

# ignore all files in __pycache__ directory
__pycache__/

# ignore all pyc files
*.pyc

#ignore writeupfiles
misc-code/writeups/*

# ignore all data files 
src/data/*